---
import { CONFIG } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getNormalizedPathname } from "@/lib/url";

type Props = {
  title: string;
  description?: string;
  author?: string;
};

const { title, description, author = CONFIG.author } = Astro.props;
---

<BaseLayout title={title} description={description} author={author}>
  <main class="app-layout mt-8 pb-4">
    <h1
      transition:name={getNormalizedPathname(Astro.url)}
      class="text-2xl font-semibold sm:text-3xl"
    >
      {title}
    </h1>
    <p class="mt-2 mb-6 italic">{description}</p>
    <slot />
  </main>
</BaseLayout>
