---
import { Font } from "astro:assets";
import "../styles/global.css";
import { CONFIG } from "../config";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Breadcrumb from "../components/Breadcrumb.astro";
import BaseLayout from "./BaseLayout.astro";

type Props = {
  title: string;
  description?: string;
  author?: string;
};

const {
  title,
  description = CONFIG.description,
  author = CONFIG.author,
} = Astro.props;
---

<BaseLayout title={title} description={description} author={author}>
    <Breadcrumb />
    <main class="app-layout pb-4">
      <h1 class="text-2xl font-semibold sm:text-3xl">{title}</h1>
      <p class="mt-2 mb-6 italic">{description}</p>
      <slot />
    </main>
</BaseLayout>
